.layout-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // background-color: aliceblue;
  background-color: rgb(232 232 233 / 40%);

  .main-content {
    flex: 1;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
  }

  .main-content>.ant-layout-content {
    flex: 1;
  }

  .home-page {
    height: 100%;
    flex: 1;
  }

}