.home-page {
  // padding-top: 20px;

  &__filter {
    background: white;
    border-radius: 6px 6px 0 0;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;
    height: 100%;

    .range-price-flex {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;

      span {
        margin-bottom: 26px;
      }
    }
  }

  &__book {
    background: white;
    border-radius: 6px 6px 0 0;
    padding: 20px;

    &-list {
      .search-item-result__item {
        background: white;
        border: 1px solid #ddd;
        border-radius: 4px;

        &:hover {
          box-shadow: 0 0.0625rem 20px 0 rgba(0, 0, 0, .05);
          -webkit-transform: translateY(-0.0625rem);
          transform: translateY(-0.0625rem);
        }


        .image {
          width: 100%;
          margin: 0 auto;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1/1;
          }
        }

        .content {
          padding: 10px;

          .title {
            flex-grow: 1;
            min-height: 1.75rem;
            display: inline-block;
            word-wrap: break-word;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;

            font-size: 0.75rem;
            line-height: 14px;
          }

          .highlight {
            height: 1rem;
            align-items: center;
            display: flex;
            margin-top: .25rem;
            overflow: hidden;
          }

          .price {
            align-items: center;
            display: flex;
            height: 1.25rem;
            overflow: hidden;
            padding: .5rem 0 0;

            .new-price {
              max-width: calc(100% - 32.3542px);

              margin-right: .3125rem;

              display: inline;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;

              color: #ee4d2d;
              flex-grow: 0;
              flex-shrink: 0;
              max-width: 100%;
              transition: all .1s cubic-bezier(.4, 0, .6, 1);
            }

            .old-price {
              color: rgba(0, 0, 0, .54);
              -webkit-text-decoration: line-through;
              text-decoration: line-through;

              display: inline;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;

              max-width: 100%;
              transition: all .1s cubic-bezier(.4, 0, .6, 1);

              flex: 0 1 auto;
            }

            .price-discount {
              font-size: .625rem;
              line-height: .75rem;

              color: #ee4d2d;
              display: block;
              font-size: .75rem;
              font-weight: 500;
              line-height: .875rem;


              background-color: #feeeea;
              border-bottom-left-radius: .125rem;
              display: block;
              padding: .125rem .25rem;

              border-radius: .125rem !important;
              margin-left: .125rem;
              padding: .125rem !important;

            }
          }

          .testimonial {
            align-items: center;
            display: flex;

            height: 1.25rem;
            margin-top: .75rem;

            .rating {
              color: rgba(0, 0, 0, .26);
              cursor: pointer;
              flex-shrink: 0;
              font-size: .625rem;
              overflow: hidden;

              align-items: center;
              display: flex;

            }

            .sold {
              margin-left: .25rem;

              color: rgba(0, 0, 0, .87);
              line-height: .875rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: .75rem;
            }
          }

          .place {
            align-items: center;
            display: flex;
            flex-direction: row;
            margin-top: .5rem;

            .place-text {
              color: rgba(0, 0, 0, .65);
              flex: 0 1 auto;
              font-weight: 200;
              min-height: 1em;
              text-align: left;

              font-size: .75rem;
              line-height: 1.125rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }

      }

    }

    &-pagination {
      .ant-pagination {
        .ant-pagination-prev {
          margin-left: auto;
        }

        .ant-pagination-next {
          margin-right: auto;
        }
      }
    }
  }
}